@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$primary-color: #1E3163;
$secondary-color: #F037A5;
$tertiary-color: #F8F8F8;
$alpha-color: #2D46B9;
$button-color: #788bc9;
$font: 'Ubuntu', sans-serif;